.lista{
    font-family: 'Mulish', sans-serif;
    color: white;
    font-size: 15.6px;
    margin-left: 22px;
    position: absolute;

}

.carousel{
    width: 100%;
    height: 300px;
    padding-left: 22px;
    margin-top: 80px;
    position: relative;
}

.carousel_contenedor{
    width: 100%;
    height: 700px;
    display: flex;
    white-space: nowrap;
    padding-top: 84px;
    overflow-x:scroll;
}